<!DOCTYPE html>
<html>
    <head>
        <title>Voce está vendo a estrutura</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="estilo.css">
    </head>
    <body>
        
        <div id="corpo">
            <div id="topo">
                <header>
                    <nav>
                        <a href="#">HOME</a> |
                        <a href="#">SOBRE</a>
                    </nav>
                </header>
            </div>
            
            <div id="conteudo">
    <!--Essa área será dinamina -->
        {{area_dinamina}}
                
    <!--Até Aqui-->
            </div>
     
        </div>
    </body>
</html>
